{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<form action="{% url 'new' %}" method="post">
    {% csrf_token %}
    <label for="title">Title:</label>
    <input type="text" name="title" placeholder="Title" id="title">
    <br>
    <label for="content">Content</label>
    <br>
    <textarea type="textarea" name="content" placeholder="write content" col="2" row="2"></textarea> 
    <input class="btn btn-primary" type="submit" value="Save">
</form>
{% endblock %}